<h2>About Mega Rentals</h2>

<p>The Mega Rentals website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
