<h1>Announcements</h1>

<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
