<h1> Welcome to Mega Rentals </h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

<ul class="well" id="window">
  {{#each model as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}
